.App {
  background-color: #fffbf0;
  min-height: 100vh;
  cursor: default;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .App {
    align-items: center;
  }
}
